<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New client</title>
</head>
<body>
<h1>The form for registration: </h1>
<form th:method="POST" th:action="@{/clients}" th:object="${client}">
    <label for="name">Enter name: </label>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Enter age: </label>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Enter email: </label>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>